# 0. Edit ExecStart below to point to the correct path
# 1. Copy (or symlink) to /etc/systemd/system/
# 2. systemctl daemon-reload
# 3. systemctl enable sensorbox.service

[Unit]
Description=Senses and sends to Adafruit IO
After=multi-user.target

[Service]
ExecStart=/bin/bash /home/glock/src/plantower-pmsa300i/sensorbox.sh
User=debian
Group=debian
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
