# Copy to /etc/systemd/system/
# systemctl daemon-reload
# systemctl enable sensorbox.service
[Unit]
Description=Senses and send to Adafruit IO
After=network.target
After=multi-user.target

[Service]
ExecStart=/bin/bash /home/glock/src/plantower-pmsa300i/sensorbox.sh
User=debian
Group=debian

[Install]
WantedBy=default.target
